In [45]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import sqlite3
import SniperUtils as SU
from src.core import IterUtils
from src.view import DataView as dview

In [54]:
print([1,2,3,4,5][1:])
print(pd.Timestamp('2020-07-04'))

[2, 3, 4, 5]
2020-07-04 00:00:00

In [2]:
def ls_win_constr(min_t):
    return f'lsn_win_{min_t.microseconds}us'

def tick_constr(min_t):
    return f'entry_ticks_{min_t}'

def default_ls_win_constrs():
    return [pd.Timedelta(us, unit='us') for us in [55, 75, 100, 150, 200]]

def default_tick_constrs():
    return [1, 2, 3, 4, 5]

def add_constrs(df: pd.DataFrame, ls_win_constrs = default_ls_win_constrs(), tick_constrs = default_tick_constrs()):
    for t in ls_win_constrs:
        df[ls_win_constr(t)] = df['lsn_win'] >= t
    for t in tick_constrs:
        df[tick_constr(t)] = df['entry_ticks'] >= t
    return df

def remove_double_dips(df):
    return df
    # def max_edge (opp_rows):
    #     m_idx = opp_rows['tot_ticks'].argmax()
    #     r = opp_rows.iloc[m_idx]
    #     return r
    # res = df.groupby(['opp_id', 'market_date']).apply(lambda x: max_edge(x))
    # return res

In [3]:
sql_conn = sqlite3.connect('/md/SIM_DBs/sim_zs.sqlite')
root_df = pd.read_sql('select * from sniper_opps', sql_conn)
df = SU.cast_sniper_opps_cols(root_df)
df['tot_ticks'] = df['entry_ticks'] * df['entry_qty']
df = SU.add_constrs(df)
df = SU.remove_double_dips(df)

In [39]:
df['lsn_win_us'] = df['lsn_win'].apply(lambda x: x.microseconds)
qty_grps = df[['entry_qty', 'lsn_win_us']].groupby('entry_qty')
quantiles = [.1, .2, .3, .5, .7, .8, .9]
def get_quantiles(g):
    row = []
    for q in quantiles:
        row.append(g['lsn_win'].quantile(q))
    return row

qt1=qty_grps.quantile(.1)
qt1.style.format({'lsn_win_us': lambda x: f'{x:.2f}'})
#     return [g['lsn_win'].quantile(q) for q in quantiles]
# l = qty_grps.apply(get_quantiles)
# pd.DataFrame(data=[l], columns=[str(q) for q in quantiles])
# pd.DataFrame(data=qty_grps.apply(get_quantiles), columns=[str(q) for q in quantiles])
# pd.DataFrame(data=qty_grps.apply(get_quantiles), columns=[str(q) for q in quantiles])
# for grp in qty_grps.groups:
#     qty_grps.get_group(grp)
#     break

In [44]:
qts = [qty_grps.quantile(q) for q in quantiles]
summ_data = {}
qt_idx = 0
for q in quantiles:
    summ_data[f'{q:.2f}'] = qts[qt_idx]['lsn_win_us']
    qt_idx += 1
pd.DataFrame(data=summ_data)
# summ = pd.DataFrame(data={'0.1': qts[0]['lsn_win_us']})
# summ

,0.10,0.20,0.30,0.50,0.70,0.80,0.90
entry_qty,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,62.0,156.2,3349.1,983876.0,996152.0,998352.4,999600.0
2,58.0,94.6,779.8,983305.5,997232.2,999180.2,999853.4
3,45.0,84.6,173.2,25796.0,997502.6,999386.0,999849.6
4,73.0,102.0,169.0,14455.0,997822.8,999529.0,999881.8
5,57.2,92.2,247.6,989653.0,998340.2,999490.4,999871.9
6,50.0,123.0,509.0,34601.5,998807.5,999668.0,999933.5
7,77.3,152.0,1179.9,996331.5,999336.8,999782.4,999964.6
8,39.0,78.0,107.0,3371.0,998371.5,999649.0,999889.5
9,49.1,69.6,86.2,1284.5,998216.4,999407.0,999851.9
10,78.0,107.0,538.0,2465.0,987670.0,998460.0,999248.0
11,25.7,34.6,49.6,1478.0,893594.4,999448.2,999617.3
12,68.5,113.0,123.5,202.0,498434.0,996598.0,998112.5
13,80.5,85.8,89.0,122.5,1241.7,4945.8,9981.9
14,103.0,113.0,389.0,1727.0,500905.5,999022.0,999442.5
15,52.8,86.0,116.1,128.0,139.9,265.4,300040.6
16,81.0,81.0,81.0,81.0,81.0,81.0,81.0
17,98.4,124.8,831.8,3607.0,6656.6,205821.6,602626.8
18,34.5,41.0,88.0,508.5,499946.5,999011.0,999357.5
19,391.8,393.6,395.4,500168.0,999945.7,999962.8,999979.9
20,232.0,341.0,450.0,668.0,886.0,995.0,1104.0
21,198832.8,397570.6,596308.4,993784.0,996248.0,997480.0,998712.0
22,3461.8,6895.6,10329.4,17197.0,410294.2,606842.8,803391.4
23,98.0,106.0,248.0,490.5,4419.5,8248.0,8775.0
24,62.2,63.4,64.6,67.0,400024.2,600002.8,799981.4
25,1207.4,1981.8,2695.8,4003.0,4158.2,203199.6,601204.8
26,28.8,34.6,40.4,52.0,63.6,69.4,75.2
27,128.4,147.8,167.2,206.0,244.8,264.2,283.6
28,1400.7,2639.4,3878.1,16158.5,125079.5,416240.0,707400.5
31,122.4,196.8,271.2,420.0,568.8,643.2,717.6
32,100059.9,200044.8,300029.7,499999.5,699969.3,799954.2,899939.1
34,999023.0,999023.0,999023.0,999023.0,999023.0,999023.0,999023.0
35,47.0,47.0,47.0,47.0,47.0,47.0,47.0
37,83.0,83.0,83.0,83.0,83.0,83.0,83.0
38,11114.0,11114.0,11114.0,11114.0,11114.0,11114.0,11114.0
45,999946.0,999946.0,999946.0,999946.0,999946.0,999946.0,999946.0
48,100299.8,200250.6,300201.4,500103.0,700004.6,799955.4,899906.2
50,999997.0,999997.0,999997.0,999997.0,999997.0,999997.0,999997.0
54,530.0,530.0,530.0,530.0,530.0,530.0,530.0
61,288.0,288.0,288.0,288.0,288.0,288.0,288.0
67,999967.0,999967.0,999967.0,999967.0,999967.0,999967.0,999967.0

In [27]:
df = SU.cast_sniper_opps_cols(root_df)
# jun = df.loc[df['market_date'] >= pd.Timestamp(2021, 6, 1)]
min_t = pd.Timedelta(55, unit='us')
add_ls_win_constr(df, [min_t])
df.loc[df[ls_win_constr(min_t)]]
per_poly = df.groupby('poly')
def sum_n_opps(x):
    constr=ls_win_constr(min_t)
    good = x.loc[(x[constr]) & (x['entry_qty'] >= 5)]
    # bad = x.loc[!(x[fmt_ls_win_constr(min_t)])]
    return len(good)
rows=per_poly.apply(sum_n_opps)
res=pd.DataFrame(data=rows, columns=['n_good'])
# res_srt=res.loc[res['entry_ticks'] > 1]
res_srt=res.sort_values(by='n_good', ascending=False)
display(res_srt.head(20))
print(res['n_good'].sum())
# jun.loc[jun['lsn_win'] >= pd.Timedelta(55, unit='us')]
# jun.info()

                                                    n_good
poly
+(ZSN1-ZSQ1) -(ZSN1-ZSX1) +(ZSQ1-ZSX1)                  48
+(ZSN1-ZSQ1) +(ZSQ1-ZSU1) -(ZSN1-ZSX1) +(ZSU1-Z...      24
+(ZSN1-ZSU1) -(ZSN1-ZSX1) +(ZSU1-ZSX1)                  16
+(ZSN1-ZSQ1) -(ZSN1-ZSU1) +(ZSQ1-ZSU1)                  13
+(ZSN1-ZSQ1) -(ZSN1-ZSX1) +(ZS:BF Q1-U1-X1) +2(...      13
+(ZSH1-ZSK1) -(ZSH1-ZSN1) +(ZSK1-ZSN1)                  12
+(ZSK1-ZSN1) -(ZSK1-ZSQ1) +(ZSN1-ZSQ1)                  11
+3(ZSK1-ZSN1) -2(ZSK1-ZSQ1) -(ZS:BF K1-N1-Q1) +...      11
+ZSK1 -(ZSK1-ZSN1) -ZSN1                                11
+3(ZSH1-ZSK1) -2(ZSH1-ZSN1) -(ZS:BF H1-K1-N1) +...      11
+(ZSH1-ZSK1) -2(ZSH1-ZSN1) +(ZS:BF H1-K1-N1) +3...      11
+(ZSN1-ZSX1) -(ZSN1-ZSF2) +(ZSX1-ZSF2)                  10
+(ZSK1-ZSN1) -(ZSK1-ZSX1) +(ZSN1-ZSX1)                   9
+(ZS:BF F1-H1-K1) -(ZSF1-ZSK1) +2(ZSH1-ZSN1) -2...       9
+3(ZSN1-ZSQ1) -(ZS:BF N1-Q1-U1) -2(ZSN1-ZSU1) +...       8
+(ZS:BF N1-Q1-U1) +(ZSN1-ZSU1) -2(ZSN1-ZSX1) +2...       8
+(ZSF1-ZSH1) -(ZSF1-ZSK1) +(ZSH1-ZSN1) -(ZSK1-Z...       8
+(ZSK1-ZSN1) -2(ZSK1-ZSQ1) +(ZS:BF K1-N1-Q1) +3...       8
+(ZSH1-ZSN1) -(ZSH1-ZSX1) +(ZSN1-ZSX1)                   8
+2(ZSH1-ZSK1) -(ZSH1-ZSN1) -(ZS:BF H1-K1-N1)             8

903

In [7]:
# zs = get_opps('/home/taha/spartan_store/sniper_opp/sim_gc_complete.csv', 10,1)
# opps = get_opps(root_df, 5, 10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123761 entries, 0 to 123760
Data columns (total 36 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   market_date      123761 non-null  object
 1   run_id           123761 non-null  int64
 2   opp_id           123761 non-null  object
 3   eid              123761 non-null  object
 4   ht_time          123761 non-null  object
 5   t_time           123615 non-null  object
 6   side             123615 non-null  object
 7   poly             123615 non-null  object
 8   has_futures      123615 non-null  object
 9   min_days         123615 non-null  object
 10  max_days         123615 non-null  object
 11  min_fut_vol      123615 non-null  object
 12  entry_ticks      123615 non-null  object
 13  entry_pnl        123615 non-null  object
 14  entry_qty        123615 non-null  object
 15  is_direct        123615 non-null  object
 16  fsn_win          123615 non-null  object
 17  lsn_win          123615 non-null  object
 18  fsn_win_dir      123615 non-null  object
 19  lsn_win_dir      123615 non-null  object
 20  cp1_win          123615 non-null  object
 21  cp1_pbook        123615 non-null  object
 22  cp1_pbook_dir    123615 non-null  object
 23  cp2_win          123615 non-null  object
 24  cp2_pbook        123615 non-null  object
 25  cp2_pbook_dir    123615 non-null  object
 26  penalty_poly     123615 non-null  object
 27  penalty_legs     123615 non-null  object
 28  entry_ev         123615 non-null  object
 29  entry_pbook      123615 non-null  object
 30  entry_pbook_dir  123615 non-null  object
 31  entry_leg_books  123615 non-null  object
 32  exit_event       123615 non-null  object
 33  exit_pbook       123615 non-null  object
 34  exit_pbook_dir   123615 non-null  object
 35  exit_leg_books   123615 non-null  object
dtypes: int64(1), object(35)
memory usage: 34.0+ MB